/* Reset de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.contato-section {
    padding: 100px 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.titulo-contato {
    font-size: 2.2rem;
    margin-bottom: 1em;
}

.descricao-contato {
    font-size: 1.2rem;
    margin-bottom: 2em;
}

.informacoes-contato {
    font-size: 1.1rem;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-code {
    margin-top: 20px;
}

.qr-code img {
    max-width: 200px;
    height: auto;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
    .informacoes-contato {
        text-align: center;
        align-items: center;
    }
}
