/* Reset de estilo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

h2 {
    font-size: 2.2rem; 
    margin: 0.5em 0; 
    padding: 0.2em 0; 
    text-align: center; 
}

p {
    font-size: 1rem; 
    line-height: 1.6; 
    margin-bottom: 1em; 
    max-width: 800px; 
    margin-left: auto; 
    margin-right: auto;
    padding: 0 15px; 
}

.hero-banner {
    background: url('../imagens/rio-limpo.jpg') no-repeat center center / cover;
    min-height: 700px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
}

.hero-banner h2 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px #000;
}

.hero-banner p {
    font-size: 1.5rem;
    margin-top: 20px;
    text-shadow: 1px 1px 3px #000;
}

.general-container {
    max-width: 1140px;
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-container {
    padding: 0 15px; 
    max-width: 1140px; 
    margin: 0 auto; 
    text-align: center; 
}

#mr-sweep-machine {
    padding: 2em 0; 
}

.machine-info {
    display: flex;
    align-items: center; 
    gap: 20px; 
    padding: 1em;
}

.machine-image {
    width: 50%; 
    max-width: 400px; 
    height: auto; 
    border-radius: 10px; 
}

.machine-info p {
    color: #333;
    font-size: 1rem;
    flex: 1; 
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); /* Transparência para permitir que a imagem apareça por trás */
    z-index: 1000; /* Garantir que a navegação fique acima dos outros elementos */
    padding: 10px 0;
}
nav .container {
    display: flex;
    justify-content: space-between; /* Espaço entre o logotipo e os links de navegação */
    align-items: center;
}
.logo-container {
    display: flex;
    align-items: center;
}

/* Estilo da logo */
.logo {
    height: 40px; /* Ajuste conforme necessário */
    margin-right: 10px; /* Espaço entre a logo e o título */
}
section {
    padding: 2em 0; 
}

.container {
    max-width: 1140px; 
    margin: auto; 
    padding: 0 15px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.hero-banner .container {
    display: block; 
    text-align: center;
    justify-content: center; 
}

nav h1 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 1.5em; /* Tamanho do logotipo */
}

/* Estilo para os links da navegação */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
}

nav ul li {
    margin-left: 20px; /* Espaçamento entre os itens do menu */
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px; /* Espaço ao redor dos links para torná-los mais clicáveis */
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease; /* Efeito suave ao mudar cores */
}
nav a:hover, nav a:focus {
    color: #dddddd; /* Mudar a cor ao passar o mouse */
    background-color: rgba(255, 255, 255, 0.2); /* Fundo sutil ao passar o mouse */
}

/* Estilo para o link ativo */
nav a.active {
    color: #ffffff; /* Escolha uma cor que destaque o link ativo */
    background-color: #007bff; /* Um fundo diferente para o link ativo */
    border-radius: 5px; /* Borda arredondada para o link ativo (opcional) */
}

footer {
    background: #333; 
    color: #fff; 
    padding: 20px 0; 
    text-align: center; 
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .machine-info {
        flex-direction: column;
    }

    .machine-image {
        width: 80%;
    }

    nav {
        padding: 0px 0;
    }   
    nav .container {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: row; /* Mantém os links na horizontal em dispositivos móveis */
        justify-content: center; /* Centraliza os links no menu */
    }

    nav ul li {
        margin: 10px 0; /* Reduz o espaço entre os itens do menu em dispositivos móveis */
    }

    .hero-banner h2 {
        font-size: 2rem;
    }

    .hero-banner p {
        font-size: 1.2rem;
    }
    
}
@media (max-width: 320px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .machine-info {
        flex-direction: column;
    }

    .machine-image {
        width: 80%;
    }

    nav {
        padding: 0px 0;
    }   
    nav .container {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: row; /* Mantém os links na horizontal em dispositivos móveis */
        justify-content: center; /* Centraliza os links no menu */
    }

    nav ul li {
        margin: 10px 0; /* Reduz o espaço entre os itens do menu em dispositivos móveis */
    }

    .logo-container {
        display: flex;
        align-items: center;
    }
    
    /* Estilo da logo */
    .logo {
        height: 40px; /* Ajuste conforme necessário */
        margin-right: 10px; /* Espaço entre a logo e o título */
    }
    
    .hero-banner h2 {
        font-size: 2rem;
    }

    .hero-banner p {
        font-size: 1.2rem;
    }
    
}
